@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {
    section#login {
        width: 80vw;
        
    }
    
}





@media screen and (min-width: 1024px) {
    section#login {
        width: 1024px;
    }
    
}


    




