@charset "UTF-8";

/* 
paleta de cores:

verde:#49a09d
lilas:#5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 25px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(252, 222, 227, 0.582);

    transition: width 0.5s, height 0.5s ease;
    

}

section#login > div#imagem {
    display: block !important;
    background: url(../imagens/pexels-didsss-12274675\ \(1\).jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center center;
    position: absolute;
    

}

section#login > div#formulario {
    display: block !important;
    padding: 10px;
}

