@charset "UTF-8";

/* 
paleta de cores:

verde:#49a09d
lilas:#5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}


body, html {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 25px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(252, 222, 227, 0.582);

    transition: width 0.5s, height 0.5s ease;
    

}

section#login > div#imagem {
    display: block;
    background: url(../imagens/pexels-didsss-12274675\ \(1\).jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center center;
    
}

section#login > div#formulario {
    display: block;
    padding: 10px;
   
}

form >  div.campo {
    display: block;
    margin: 5px 0px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: #5f2c82;

}

div.campo > i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #94fffb;
    width: calc(100% - 44.5px);
    height: 100%;
    transform: translateY(-17px);
    border-radius: 5px;
    border: 0px;
    padding: 5px;


}

div.campo > input:focus-within {
    background-color: #ffffff;
}


form > input[type="submit"] {
   display: block;
   font-size: 1em;
   height: 40px;
   width: 100%;
   background-color: #49a09d;
   border: none;
   color: white;
   border-radius: 5px;
   margin-top: 20px;
    

    
}

form > input[type="submit"]:hover {
    background-color: #5f2c82;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    color: #2c5e5c;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 5px;
    border: 1px solid #2c5e5c;
    text-decoration: none;
    margin-top: 20px;

    
}

form > a.botao:hover {
    background-color: #94fffb;
    border: 1px solid #60d1cd;
}




div#formulario > h1 {
    font-size: 1.5em;
}


